html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
/*SITE NAVIGATION*/
nav {
    margin: 70px 0;
    /* text-decoration: black; */
}


.navigation_items a:hover,
.navigation_items a:focus {
    color: #66c9f7;
}
.navigation {
    text-align: center;
    margin-right: 200px;
}

.navigation_items li:not(:first-child) {
    margin-left: 95px;
    text-decoration: none;
}
.navigation_items li{
    display: inline-block;
    margin-left: 90px;
    vertical-align: middle;
    font-family: 'Libre Caslon Text', serif; 
    font-weight: 550; 
    font-size: 14px;
}

.navigation_items a {
    text-decoration: none;
    color: #626262;
    text-decoration-style: dotted;
}

/*main menu items*/
.menu_items {
    margin-top: 27px;
    padding: 0px;
}
main {
    text-align: center
}
.main-menu-items {
    width: 421px;
    display: inline-block;
    margin-right: 61px;
}

img {
    display: inline-block;
    margin-top: 23px;
    margin-bottom: 25px;
}

.pic-name {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: rgb(194, 184, 184);
    line-height: auto;
}

main h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: left;
    color: rgb(100, 88, 88);
    line-height: auto;
}
 .main-text {
     text-align: left;
     font-family: 'Playfair Display', serif;
     font-size: 14px;
     line-height: 24px;
}

button::first-letter {
    font-size: 100%;
}

button {
    display: block;
    height: 65px;
    width: 167px;
    border: 1px rgb(153, 147, 147) solid;
    background: white;
    
}

button {
    cursor: pointer;
}
button {
    margin: 72px 470px;
    font-family: 'Libre Caslon Text', serif;
    font-size: 20px;
    color: rgb(63, 60, 60);
    line-height: 24px;
}
