$Primary-font-stack: 'Montserrat', sans-serif;
$Secondary-font-stack: 'Roboto', sans-serif;

$Main-color:#999999;
$Primary-color:#ffffff;
$Secondary-color:#333333;

$Main-text-size: 14px;
$Secondary-text-size: 15px;